/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


svg {

  margin-left: 30%;
  margin-right: 30%;
  border: 5px solid black;
}
